### Set Up

In [1]:
import pandas as pd
import numpy as np
import altair as alt
from IPython.display import Image

# Suppress FutureWarning
import warnings
warnings.filterwarnings("ignore")

### Read in Data

In [2]:
#Used more robust encoding 'ISO-8859-1' instead of 'ascii' (got error)
data = pd.read_csv('data/my_data(v4).csv', encoding='ISO-8859-1')

# JADE - INTERACTIVE VIZ #1

In [3]:
# Filter the DataFrame for rows where 'is_athlete' is Athlete, Non-Athlete
filtered_data = data[data['is_athlete'].isin(["Athlete", "Non-Athlete"])]

### Occupation

In [4]:
# Group by 'Occupation' and 'is_athlete', calculate the average of 'happy' for each group
grouped_occupation_data = filtered_data.groupby(['Occupation', 'is_athlete'])['Happy'].mean().reset_index()

# Round the 'Happy' column averages to the nearest 0.5, handling NaN values
grouped_occupation_data['Happy'] = grouped_occupation_data['Happy'].apply(lambda x: np.nan if pd.isna(x) else round(x * 4) / 4)

# Pivot the table to have 'Occupation' as rows, 'is_athlete' as columns, and 'happy' values in the cells
pivot_occupation_data = grouped_occupation_data.pivot(index='Occupation', columns='is_athlete', values='Happy')

# Rename columns to 'Athlete' and 'Non-Athlete'
pivot_occupation_data.columns = ['Athlete', 'Non-Athlete']

# Reset the index to make 'Occupation' a column again
occupation_df = pivot_occupation_data.reset_index()

# Drop rows with NaN values
occupation_df = occupation_df.dropna()

# Create a new DataFrame with 'y', 'Athlete', 'Non-Athlete', 'x1', and 'x2'
occupation_coordinate_df = pd.DataFrame({
    'y': occupation_df['Occupation'],
    'Athlete': occupation_df['Athlete'],
    'Non-Athlete': occupation_df['Non-Athlete'],
    'x1': occupation_df[['Athlete', 'Non-Athlete']].min(axis=1),
    'x2': occupation_df[['Athlete', 'Non-Athlete']].max(axis=1)
})

### Gender

In [5]:
# Group by 'Gender' and 'is_athlete', calculate the average of 'happy' for each group
grouped_gender_data = filtered_data.groupby(['Gender', 'is_athlete'])['Happy'].mean().reset_index()

# Round the 'Happy' column averages to the nearest 0.5, handling NaN values
grouped_gender_data['Happy'] = grouped_gender_data['Happy'].apply(lambda x: np.nan if pd.isna(x) else round(x * 4) / 4)

# Pivot the table to have 'Gender' as rows, 'is_athlete' as columns, and 'happy' values in the cells
pivot_gender_data = grouped_gender_data.pivot(index='Gender', columns='is_athlete', values='Happy')

# Rename columns to 'Athlete' and 'Non-Athlete'
pivot_gender_data.columns = ['Athlete', 'Non-Athlete']

# Reset the index to make 'Gender' a column again
gender_df = pivot_gender_data.reset_index()

# Drop rows with NaN values
gender_df = gender_df.dropna()

# Create a new DataFrame with 'Gender', 'Athlete', 'Non-Athlete', 'x1', and 'x2'
gender_coordinate_df = pd.DataFrame({
    'y': gender_df['Gender'],
    'Athlete': gender_df['Athlete'],
    'Non-Athlete': gender_df['Non-Athlete'],
    'x1': gender_df[['Athlete', 'Non-Athlete']].min(axis=1),
    'x2': gender_df[['Athlete', 'Non-Athlete']].max(axis=1)
})

### Age Group

In [6]:
# Group by 'Age Group' and 'is_athlete', calculate the average of 'happy' for each group
grouped_age_group_data = filtered_data.groupby(['AgeGroup', 'is_athlete'])['Happy'].mean().reset_index()

# Round the 'Happy' column averages to the nearest 0.5, handling NaN values
grouped_age_group_data['Happy'] = grouped_age_group_data['Happy'].apply(lambda x: np.nan if pd.isna(x) else round(x * 4) / 4)

# Pivot the table to have 'Age Group' as rows, 'is_athlete' as columns, and 'happy' values in the cells
pivot_age_group_data = grouped_age_group_data.pivot(index='AgeGroup', columns='is_athlete', values='Happy')

# Rename columns to 'Athlete' and 'Non-Athlete'
pivot_age_group_data.columns = ['Athlete', 'Non-Athlete']

# Reset the index to make 'Age Group' a column again
age_group_df = pivot_age_group_data.reset_index()

# Drop rows with NaN values
age_group_df = age_group_df.dropna()

# Create a new DataFrame with 'Age Group', 'Athlete', 'Non-Athlete', 'x1', and 'x2'
age_group_coordinate_df = pd.DataFrame({
    'y': age_group_df['AgeGroup'],
    'Athlete': age_group_df['Athlete'],
    'Non-Athlete': age_group_df['Non-Athlete'],
    'x1': age_group_df[['Athlete', 'Non-Athlete']].min(axis=1),
    'x2': age_group_df[['Athlete', 'Non-Athlete']].max(axis=1)
})

### Country During Lockdown

In [7]:
# Group by 'CountryDuringLockdown' and 'is_athlete', calculate the average of 'happy' for each group
grouped_country_data = filtered_data.groupby(['CountryDuringLockdown', 'is_athlete'])['Happy'].mean().reset_index()

# Round the 'Happy' column averages to the nearest 0.5, handling NaN values
grouped_country_data['Happy'] = grouped_country_data['Happy'].apply(lambda x: np.nan if pd.isna(x) else round(x * 4) / 4)

# Pivot the table to have 'CountryDuringLockdown' as rows, 'is_athlete' as columns, and 'happy' values in the cells
pivot_country_data = grouped_country_data.pivot(index='CountryDuringLockdown', columns='is_athlete', values='Happy')

# Rename columns to 'Athlete' and 'Non-Athlete'
pivot_country_data.columns = ['Athlete', 'Non-Athlete']

# Reset the index to make 'CountryDuringLockdown' a column again
country_df = pivot_country_data.reset_index()

# Drop rows with NaN values
country_df = country_df.dropna()

# Create a new DataFrame with 'CountryDuringLockdown', 'Athlete', 'Non-Athlete', 'x1', and 'x2'
country_during_lockdown_coordinate_df = pd.DataFrame({
    'y': country_df['CountryDuringLockdown'],
    'Athlete': country_df['Athlete'],
    'Non-Athlete': country_df['Non-Athlete'],
    'x1': country_df[['Athlete', 'Non-Athlete']].min(axis=1),
    'x2': country_df[['Athlete', 'Non-Athlete']].max(axis=1)
})

### COMBINE DATAFRAMES

In [8]:
# Combine DataFrames
combined_df = pd.concat([occupation_coordinate_df.assign(Dataset='Occupation'),
                         gender_coordinate_df.assign(Dataset='Gender'),
                         age_group_coordinate_df.assign(Dataset='Age Group'),
                         country_during_lockdown_coordinate_df.assign(Dataset='Country During Lockdown')])

In [9]:
combined_df.to_csv('data/jade_viz_1.csv', index=False)

## Interactive #2

In [18]:
#filter so only has ireland/uk/australia (only these countries have both athlete and non-athlete information)

countries = ['Australia', 'Ireland', 'UK']

data_viz2 = data.query(
   'CountryDuringLockdown.isin(@countries)'
)



# #filter so only has ireland/uk/australia (only these countries have both athlete and non-athlete information)
# countries = ['Australia', 'Ireland', 'UK']

# data_viz2 = data.copy()

# data_viz2.columns = data_viz2.columns.str.replace('-', '')

# #filter outliers (more than 100)
# data_viz2 = data_viz2.query(
#    'CountryDuringLockdown.isin(@countries) and MHCSFOVERALL < 100 and HADSOVERALL < 100 and HADSAAVERAGE < 100 and HADSDAVERAGE < 100'
# )

# Define a function to map severity based on the given conditions
def map_severity(score):
    if score <= 7:
        return 'Normal'
    elif 8 <= score <= 10:
        return 'Mild'
    else:
        return 'Severe'

# Create new columns based on the specified conditions
data_viz2['Anxiety Severity'] = data_viz2['HADS-AAVERAGE'].apply(map_severity)
data_viz2['Depression Severity'] = data_viz2['HADS-DAVERAGE'].apply(map_severity)

In [19]:
data_viz2.to_csv('data/jade_viz_2.csv', index=False)