# ___Project - Milestone 2___

###  <span style="color: gray;">Jade Chen, Sam Thorne, Dia Zavery</span>

#### Dataset Background Information

Athlete non-athlete survey data can be found on [figshare.com](https://figshare.com/articles/dataset/Athlete_Non-Athlete_MH_Survey_-_ALL_DATA_csv/13035050)

Data collected from a mental health survey on 753 individuals. Data contains demographic information, general health and lifestyle information, athlete information, Mental health and answers to mental health related questions. This study was completed in early 2020 and questioned how individuals mental health was coping in the early stages of the COVID-19 pandemic.

### Set Up

In [1]:
import pandas as pd
import numpy as np
import altair as alt
from IPython.display import Image

# Suppress FutureWarning
import warnings
warnings.filterwarnings("ignore")

### Read in Data

First we check the character type, then we read in information with proper encoding.

In [19]:
#Check character type
import chardet

with open('data/Athlete_Non-Athlete.csv', 'rb') as rawdata:
    result = chardet.detect(rawdata.read(10000))
result

{'encoding': 'ascii', 'confidence': 1.0, 'language': ''}

In [20]:
#Used more robust encoding 'ISO-8859-1' instead of 'ascii' (got error)
data = pd.read_csv('data/Athlete_Non-Athlete.csv', encoding='ISO-8859-1')
data.head(5)

,Respondent ID,Gender:,Age Group:,Country During Lockdown,Mental Health Condition?,Occupation:,Marital Status:,Smoking Status:,Five Fruit and Veg,Hours sleep:,...,LONE_ TOTAL,LONE_ Emotional,LONE_ Social,I experience a general sense of emptiness,I miss having people around,There are many people I can trust completely*,I often feel rejected,There are enough people I feel close to*,There are plenty of people I can rely on when I have problems*,Unnamed: 84
0,11785667914,2,2,2,999,Unemployed,1,1,2,6.5,...,3.67,4.33,3.00,4,5,4,4,2,3,NaN
1,11785634332,2,3,1,"3, 5, 6",Administrator,2,1,1,7.0,...,4.33,4.00,4.67,5,2,4,5,5,5,NaN
2,11784520014,2,3,2,999,Finance,1,3,2,4.0,...,3.50,4.33,2.67,4,4,4,5,2,2,NaN
3,11783867710,2,1,2,2,Unemployed,1,1,2,8.0,...,2.67,3.00,2.33,4,3,2,2,1,4,NaN
4,11783726076,2,1,2,999,Student,1,1,1,8.5,...,4.33,5.00,3.67,5,5,5,5,4,2,NaN

### Data Wrangling
First, we remove the colons (`:`) and question marks (`?`) in the column names.

In [21]:
data.columns = data.columns.str.replace(r'[?:]$', '', regex=True)

### Data Cleaning
Drop the last column with no values (empty).

In [22]:
data = data.drop(data.columns[84], axis=1)
data.head(5)

,Respondent ID,Gender,Age Group,Country During Lockdown,Mental Health Condition,Occupation,Marital Status,Smoking Status,Five Fruit and Veg,Hours sleep,...,I tend to take a long time to get over setbacks in my life*,LONE_ TOTAL,LONE_ Emotional,LONE_ Social,I experience a general sense of emptiness,I miss having people around,There are many people I can trust completely*,I often feel rejected,There are enough people I feel close to*,There are plenty of people I can rely on when I have problems*
0,11785667914,2,2,2,999,Unemployed,1,1,2,6.5,...,2,3.67,4.33,3.00,4,5,4,4,2,3
1,11785634332,2,3,1,"3, 5, 6",Administrator,2,1,1,7.0,...,1,4.33,4.00,4.67,5,2,4,5,5,5
2,11784520014,2,3,2,999,Finance,1,3,2,4.0,...,3,3.50,4.33,2.67,4,4,4,5,2,2
3,11783867710,2,1,2,2,Unemployed,1,1,2,8.0,...,4,2.67,3.00,2.33,4,3,2,2,1,4
4,11783726076,2,1,2,999,Student,1,1,1,8.5,...,5,4.33,5.00,3.67,5,5,5,5,4,2

Drop columns that are not relevant to our project.

In [23]:
columns_to_drop = ['Respondent ID',
                   'Shielded',
                   'Dates Shielding',
                   'I consider myself an athlete',
       'I have many goals related to sport', 'most of my friends are athletes',
       'Exclusivity', 'Sport is the most important part of my life',
       'I spend more time thinking about sport than anything else',
       'I feel bad about myself when I do badly in sport',
       'I would be very depressed if I were injured and could not compete in sport',
       'Individual/Team athlete',
       'That you had something important to contribute to society',
       'That you belonged to a community (like a social group or your neighbourhood)',
       'That our society is becoming a better place for people like you',
       'That people are basically good',
       'That the way our society works makes sense to you',
       'That you liked most parts of your personality',
       'Good at managing the responsibilities of your daily life',
       'That you had warm and trusting relationships with others',
       'That you had experiences that challenged you to grow and become a better person',
       'Confident to think or express your own ideas and opinions',
       'That your life has a sense of direction or meaning to it',
       "I feel tense or 'wound up'",
       'I still enjoy the things I used to enjoy',
       'I get a sort of frightened feeling as if something awful is about to happen',
       'I can laugh and see the funny side of things',
       'Worrying thoughts go through my mind',
       'I feel cheerful',
       'I can sit at ease and feel relaxed', 'I feel as if I am slowed down',
       "I get a sort of frightened feeling like 'butterflies' in my stomach",
       'I have lost interest in my appearance',
       'I feel restless as I have to be on the move',
       'I look forward with enjoyment to things',
       'I get sudden feelings of panic',
       'I can enjoy a good book or radio or TV programme',
       'I tend to bounce back quickly after hard times',
       'I have a hard time making it through stressful events*',
       'It does not take me long to recover from a stressful event',
       'It is hard for me to snap back when something bad happens*',
       'I usually come through difficult times with little trouble',
       'I tend to take a long time to get over setbacks in my life*','I experience a general sense of emptiness',
       'I miss having people around',
       'There are many people I can trust completely*',
       'I often feel rejected', 'There are enough people I feel close to*',
       'There are plenty of people I can rely on when I have problems*',
                  'What sport do you play']

data.drop(columns=columns_to_drop, inplace=True)
data.head(5)

,Gender,Age Group,Country During Lockdown,Mental Health Condition,Occupation,Marital Status,Smoking Status,Five Fruit and Veg,Hours sleep,Survey Date,...,Satisfied,Social Wellbeing,Psychological Wellbeing,HADS OVERALL,HADS-A AVERAGE,HADS-D AVERAGE,RES_TOTAL,LONE_ TOTAL,LONE_ Emotional,LONE_ Social
0,2,2,2,999,Unemployed,1,1,2,6.5,13/07/2020,...,4,22.0,25.0,23.0,12.0,11.0,11.0,3.67,4.33,3.00
1,2,3,1,"3, 5, 6",Administrator,2,1,1,7.0,13/07/2020,...,2,1.0,2.0,36.0,20.0,16.0,6.0,4.33,4.00,4.67
2,2,3,2,999,Finance,1,3,2,4.0,12/07/2020,...,2,11.0,8.0,23.0,13.0,10.0,19.0,3.50,4.33,2.67
3,2,1,2,2,Unemployed,1,1,2,8.0,12/07/2020,...,4,14.0,24.0,14.0,7.0,7.0,24.0,2.67,3.00,2.33
4,2,1,2,999,Student,1,1,1,8.5,12/07/2020,...,3,2.0,17.0,29.0,15.0,14.0,17.0,4.33,5.00,3.67

### Data Wrangling
Again, we perform data wrangling. This time, we transform the column data types to appropriate data types for ease of finding cardinality.

Lastly, we change cells with the values of `999` to `NaN`, because we assume that it means 'prefer not to answer'.

In [25]:
categorical = ['Gender', 'Age Group', 'Country During Lockdown', 'Mental Health Condition', 'Occupation', 'Marital Status', 'Smoking Status', 'Five Fruit and Veg', 'Athlete/Non-Athlete']

for column_name in categorical:
    data[column_name] = data[column_name].astype('category')

temporal = ['Survey Date']

for column_name in temporal:
    data[column_name] = pd.to_datetime(data[column_name])

In [26]:
data.replace(999, np.nan, inplace=True)

## Data Attribute Information: Type, Cardinality, and Missing Values
The following dataframe gives the name, data type, cardinality (unique values for categorical features, and range for quantitative and temporal features), and missing values of each attribute.

In [27]:
pd.set_option('display.max_rows', None)
# Function to determine if a column is quantitative
def is_quantitative(column):
    return pd.api.types.is_numeric_dtype(column)

quant_range = []

# Loop through the columns of the original DataFrame
for column_name in data.columns:
    column_data = data[column_name]
    data_type = column_data.dtype
    if is_quantitative(column_data):
        data_range = f'{column_data.min()} - {column_data.max()}'
        unique_values = column_data.nunique() #TEMP
        #unique_values = 'N/A'
    else:
        data_range = 'N/A'
        unique_values = column_data.nunique()
        
    count_na = data[column_name].isna().sum()
    quant_range.append({'Column': column_name, 'Data Type': data_type, 'Unique Values': unique_values, 'Range': data_range, 'Missing Values': count_na})

# Convert the list of dictionaries to a DataFrame
quant_range_df = pd.DataFrame(quant_range)

# Display the DataFrame with data types and ranges
quant_range_df

,Column,Data Type,Unique Values,Range,Missing Values
0,Gender,category,2,N/A,0
1,Age Group,category,7,N/A,0
2,Country During Lockdown,category,7,N/A,0
3,Mental Health Condition,category,12,N/A,0
4,Occupation,category,405,N/A,3
5,Marital Status,category,5,N/A,0
6,Smoking Status,category,7,N/A,0
7,Five Fruit and Veg,category,2,N/A,0
8,Hours sleep,float64,18,1.5 - 10.5,0
9,Survey Date,datetime64[ns],21,N/A,0
10,Weeks Social Distancing,int64,8,0 - 7,0
11,# in lockdown bubble,int64,7,1 - 7,0
12,Athlete/Non-Athlete,category,2,N/A,0
13,AIMS_ TOTAL,float64,43,1.0 - 7.0,235
14,Social Identity,float64,19,1.0 - 7.0,235
15,Negative Affectivity,float64,13,1.0 - 7.0,235
16,Sport level,float64,3,1.0 - 3.0,399
17,Total weekly playing hours,float64,44,1.5 - 66.5,399
18,Weekly training hours,float64,37,0.0 - 25.0,399
19,Weekly competing hours,float64,15,0.0 - 48.0,399
20,MHC-SF OVERALL,float64,67,2.0 - 13986.0,0
21,Emotional Wellbeing,float64,17,0.0 - 2997.0,0
22,Happy,float64,6,0.0 - 5.0,65
23,Interested in life,float64,6,0.0 - 5.0,65
24,Satisfied,float64,6,0.0 - 5.0,65
25,Social Wellbeing,float64,27,0.0 - 4995.0,0
26,Psychological Wellbeing,float64,31,1.0 - 5994.0,0
27,HADS OVERALL,float64,36,0.0 - 13986.0,0
28,HADS-A AVERAGE,float64,22,0.0 - 6993.0,0
29,HADS-D AVERAGE,float64,21,0.0 - 6993.0,0
30,RES_TOTAL,float64,25,6.0 - 5994.0,0
31,LONE_ TOTAL,float64,24,1.0 - 4.83,99
32,LONE_ Emotional,float64,13,1.0 - 5.0,99
33,LONE_ Social,float64,13,1.0 - 5.0,99